#header{
    width: 100%;
    height:6rem;
    background-color: blueviolet;
    margin-top: 0;
    color: white;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    text-align: center;
    justify-content: center;


}

#body{
    min-height: 100vh;
}



#searchInput {
    font-size: 30px;
    width: 10em;
    display: flex;
    flex-direction: column;
    margin: auto;

    }
button {
    background-color:blueviolet;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    color: white;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 2rem;
    }

.resultItem{
        background: #f8f5f1;
        border-radius:3px;
        margin: 10px 10px 10px 0;
        padding:10px;
        text-align: left;
        white-space: normal;
        font-style: italic;
        color: blueviolet;
        text-decoration: none;
}
.resultItem:hover{
        border-left:5px solid #443328;
}

#footer{

    width: 100%;
    height:6rem;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    color: white;
    font-weight:bold;
    text-align: center;
    justify-content: center;
    border-radius: 3rem;

}